.barnizContainer {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    align-items: center;
    padding: 3rem;

    .barnizText{
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        align-items: center;

        p {
            font-size: 2.3rem;
        }
    }
}