.opcionalesContainer {
    padding-bottom: 2.5rem;

    table {
        width: 100%;
        height: 100%;
        border-collapse: collapse;

        td {
            padding: 1rem 3rem;
            font-size: 1.4rem;
            text-transform: uppercase;
            font-family: 'Museo Sans', serif;

            &:nth-child(1) {
                width: 40rem;
            }


            font-size: 1.7rem;
        }

        tr:nth-child(odd) {
            background: var(--backgrounds);
        }

        tr:nth-child(1) {
            background: var(--orange-gradient);
        }

        .highlight {
            font-family: 'Museo Sans 700 Italic';
            font-size: 2rem;
            color: #E9550D;
        }
    }
}