.actionBody {
    padding: 2rem;
    align-items: center;
    background: white;
    background: linear-gradient(0deg, rgb(255, 255, 255) 60%, rgb(184, 190, 195) 100%);
    border: 2px solid var(--pantone431c);
    border-top: none;
    border-radius: 0 0 1rem 1rem;

    .noColors {
        font-size: 3rem;
        text-align: center;
    }

    .formSections {
        width: 100% !important;

        .formSection {
            width: 100% !important;
        }
    }

    .selectAll {
        background: var(--orange-gradient);
        color: black;
        font-size: 2rem;
        padding: 0.5rem 1rem;
        border: 2px solid var(--header);
        border-radius: 1.5rem;
        cursor: pointer;
        width: fit-content;
        align-self: center;

        &:active {
            transform: scale(0.99);
        }

        &:hover {
            box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
        }
    }

    .trappingKiosk {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }
}

.boceto {
    .separator {
        background-color: rgb(185, 185, 185);
        width: 95%;
        height: 2px;
        margin: 2rem auto;
    }

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            font-size: 3.5rem;
        }

        .firstGroup {
            display: grid;
            grid-template-columns: 12.5rem 5rem 10rem;
            column-gap: 1rem;
            align-items: center;

            .kioskSwitch {
                outline: none;
            }

            .lpiGroup {
                display: flex;
                column-gap: 0.3rem;
                align-items: center;
                justify-content: center;
                border: 1px solid var(--pantone431c);
                border-radius: 0.5rem;
                height: 4rem;
                width: 9rem;
                background-color: white;

                input {
                    border: none;
                    border-radius: 0.5rem;
                    text-align: right;
                    width: 4.3rem;
                    height: 100%;
                    font-size: 2rem;
                    color: var(--pantone431c);

                    &:focus {
                        outline: none;
                    }
                }

                .lpi {
                    p {
                        font-size: 2rem;
                        color: var(--pantone431c);
                    }
                }
            }
        }

        .chosen-container {
            width: 16rem !important;
        }

        .chosen-single,
        .chosen-drop {
            background: white;
            box-shadow: none;
            width: 16rem;
            font-size: 3.5rem;
            color: black;
        }

        .chosen-results {
            color: black;
        }

        .chosen-single {
            display: flex;
            align-items: center;
            height: 4rem;
        }

        svg {
            width: 3.5rem;
            height: 3.5rem;
            color: var(--highlight);
            cursor: pointer;
        }
    }
}

.freecut {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;

    .titleRow {
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 3.5rem;
    }

    .colorFreecut {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 2rem;

        input {
            padding: 0.6rem;
        }

        .chosen-container {
            width: 16rem !important;
        }

        .chosen-single,
        .chosen-drop {
            background: white;
            box-shadow: none;
            width: 16rem;
            font-size: 3.5rem;
            color: black;
        }

        .chosen-results {
            color: black;
        }

        .chosen-single {
            display: flex;
            align-items: center;
            height: 4rem;
        }
    }

    .coloresFreecut {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;

    }
}

.montaje {
    display: flex;
    flex-direction: column;
    row-gap: 2.50rem;
}

.switches {
    display: flex;
    column-gap: 2rem;

    .switchGroup {
        display: flex;
        align-items: center;
        column-gap: 0.75rem;
        font-size: 3rem;
    }
}

.configAvanzadaMontaje {
    .fileConfigSelector {
        padding: 1.5rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 15rem));
        gap: 1.5rem;
        border: 2px solid var(--pantone431c);
        background-color: white;

        .selectorItem {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            padding: 1rem 2rem;
            cursor: pointer;
            max-width: fit-content;
            border: 3px solid transparent;

            p {
                text-align: center;
                font-size: 2rem;
            }
        }

        .selectorActive {
            border: 3px solid var(--highlight);
        }
    }

    .filesActions {
        display: flex;
        column-gap: 1.5rem;
        justify-content: flex-end;
        height: 4.5rem;

        .actionItem {
            cursor: pointer;
            display: flex;
            column-gap: 0.5rem;
            align-items: center;

            p {
                font-size: 2.5rem;
            }

            svg {
                width: 3rem;
                height: 3rem;
            }
        }
    }
}

.reportePrevio {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    .orderReport,
    .fileReport {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        h2 {
            font-size: 2.5rem;
        }
    }

    .custom-tooltip-reporte {
        font-size: 10rem !important;
        opacity: 1 !important;

        ul {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
        }
    }
}

.reportePrevioList {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    li {
        display: flex;
        align-items: center;
        column-gap: 1rem;

        p {
            font-size: 2.2rem;
        }

        svg {
            width: 2rem;
            height: 2rem;
        }

        div {
            cursor: pointer;

            svg {
                color: white;
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
                background-color: royalblue;
            }
        }
    }
}

.infoContainer {
    height: fit-content;
    min-height: 10rem;
    width: 100%;
    padding: 1.5rem;

    p {
        font-size: 2.2rem;
    }
}

.otraDoc {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;

    .otraDocSection {
        display: flex;
        flex-direction: column;
        row-gap: 1.3rem;

        h2 {
            font-size: 2.5rem;
        }
    }
}