.sideBar {
    position: absolute;
    left: -2px;
    background-color: var(--details);
    display: grid;
    width: auto;
    border: 2px solid var(--header);
    border-top: none;
    border-radius: 0 0 4rem 4rem;
}

.icons {
    padding: 1.5rem;
    height: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
        background-color: var(--hover);
        cursor: pointer;
        transition: background-color 0.5s;
    }

    &:last-child {
        &:hover {
            border-radius: 0 0 4rem 4rem;
        }
    }

    svg {
        fill: var(--pantone431c);

        .cls-1 {
            fill: var(--pantone431c);
        }
    }

}

.active {
    svg {
        fill: var(--highlight) !important;

        .cls-1 {
            fill: var(--highlight) !important;
        }
    }
}

.activeStroke {
    svg {
        stroke: var(--highlight);
    }
}

.border {
    width: 65%;
    border-bottom: 2px solid var(--backgrounds);
    margin: 0 auto;
}